@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(65, 184, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    padding: 30px 40px;
    border: 2px solid white;
    min-width: 500px;
}

.new-task {
    display: flex;
    background-color: white;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.301);
}

.new-task > input:focus{
    outline: none;
    border-color: rgba(65, 184, 131, 1);
}

.new-task > input {
    flex: 3;
    font-weight: 500;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid black;
}

.new-task-button {
    flex: 1;
    background-color: rgba(65, 184, 131, 1);
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

.task-container {
    margin-top: 60px;
    background-color: white;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.301);
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}


/* Error and Sucess */

.error {
    border: 2px solid red !important;
}
.error::placeholder {
    color: red !important;
}

.fa-trash-alt {
    background-color: #41b883;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    color: #41b883;
}